<md-toolbar layout="row" layout-align="start center" class="md-theme-indigo">
  <md-button ng-click="accounts.toggleMenu()"
    class="md-icon-button" hide-gt-md>
    <i class="material-icons">menu</i>
  </md-button>
  <h1 class="md-toolbar-tools">{{ accounts.toolbarHeading }}</h1>
</md-toolbar>
<md-content layout-padding>
  <div layout="column" layout-align="top center">
    <p ng-repeat="category in accounts.categories">{{ category.name }}: {{category.totalMinutes}} Minutes accured.</p>
  </div>
</md-content>