<md-toolbar layout="row" layout-align="start center" class="md-theme-indigo">
  <md-button ng-click="accounts.toggleMenu()"
    class="md-icon-button" hide-gt-md>
    <i class="material-icons">menu</i>
  </md-button>
  <h1 class="md-toolbar-tools">{{ accounts.toolbarHeading }}</h1>
</md-toolbar>
<md-content layout-padding>
  <div layout="column" layout-align="top center">
    <div flex flex-gt-md="20">
      <canvas id="doughnut" class="chart chart-doughnut"
        chart-data="vm.chartData" chart-labels="vm.chartLabels">
      </canvas> 
    </div>
    <p ng-repeat="category in vm.categories">{{ category.name }}: {{category.totalMinutes}} Minutes accrued.</p>
  </div>
</md-content>